.edit-form-container {
  width: 100vw;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form-container > form {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 15px rgb(86, 86, 90);
}

.image-container {
  height: 350px;
  background-color: black;
}

.image-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

#description {
  width: 100%;
}

[type="file"] {
  display: none;
}

[for="image"] {
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
}

[for="image"]:active {
  background-color: rgb(52, 52, 255);
}

[type="submit"] {
  background-color: rgb(68, 160, 68);
  color: white;
  font-size: 1.2rem;
  width: 300px;
  margin: auto;
  cursor: pointer;
}